
{% extends 'flatpages/default.html' %}
{% block title %}
объявления
{% endblock title %}

{% block content %}
   <h1>объявления</h1>
   <hr>



   {% if books %}
       {% for book in books %}
           Автор <br>
           {{ book.user }} <br>
           Категория <br>
           {{ book.get_category_display }} <br>
           Заголовок <br>
           {{ book.head }} <br>
           Дата <br>
           {{ book.created_at|date:'d.m.Y H:i' }} <br>
           Объявление <br>
           {{ book.descript|truncatechars:255 }} <br>
           Автор книги<br>
           {{ book.author_of_book }}<br>
           Год написания <br>
           {{ book.year }}<br>
           прочитать объявление <br>
           <a href="/books/{{book.id}}/">прочитать</a> <br>
           изменить объявление <br>
           <a href="/books/{{book.id}}/edit/">изменить</a> <br>
           удалить объявление <br>
           <a href="/books/{{book.id}}/delete/">удалить</a> <br>
           фото <br>
           {% for photo in book.photo.all %} {{ photo }} {% endfor %} <br>
           отклики <br>
           {% for comment in book.comments_set.all %}
           {{ comment }}<br>
           {{ comment.comment_text }}
           {% endfor %} <br>
           <hr>

       {% endfor %}
   {% else %}
       <h2>Объявлений нет!</h2>
   {% endif %}


   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}
   {{ page_obj.number }}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

<p><a href="/books/create/">добавить объявление</a></p>

{% endblock content %}

